.price-show
  %p.scart-total-price-s.mg-b-10
    %span> 運費
    NT$#{shipping_cost}
  %p.scart-total-price-s.mg-b-10
    %span> 小計
    NT$#{sub_total}
  %p#ssss.scart-total-price.mg-b-40
    %span> 總計
    NT$#{sub_total.to_i + shipping_cost.to_i}