/ start main
%section.wrapper
  / rwd padding
  %section.full-bg
    .login-bg.ofhidden
    / rwd width limited
    .rwd-width-limited
      / login / signup
      .login-signup-sec.clearfix
        .login-signup-sec-bg
          .mg-b-30
            %a.block.signup-logo{:hov => "0.75", :href => "index.html"}
              = image_tag 'logo-h-w.png', alt: "Hanchor", class: "block"
          .mg-b-30
            %h2.text-24.lh-30.color-white.bold #{t('forget_password.send_message')}