.form-style-5
  = form_for @faq, url: admin_faq_path(@faq) do |f|
    %h3.text-16.lh-24.bold 功用 : #{@faq.purpose}
    %h3.text-16.lh-24.bold context
    = f.cktext_area :context, :class => "someclass", :ckeditor => {:language => "en"}
    %br
    = f.submit "確定", class: 'btn'