.clearfix.sc-sidebar.grid-4-1
  .sidebar-fix.clearfix.tab-con
    = link_to_contact account_path, t("account.overview")
    = link_to_contact account_orders_path, t('account.order')
    = link_to_contact cart_index_path, t("shopping_cart_locale.cart")