.bg-black.pd-v-30
  / rwd width limited
  .rwd-width-limited.clearfix
    %a.logo{:hov => "0.7", :href => "index.html"}
      =image_tag("logo-s-w.png")
    .sns.clearfix
      %a.lh-25.text-18.color-white.pd-h-10{:href => "#", :voh => "0.5"}
        %i.fa.fa-facebook{"aria-hidden" => "true"}
      %a.lh-25.text-18.color-white.pd-h-10{:href => "#", :voh => "0.5"}
        %i.fa.fa-twitter{"aria-hidden" => "true"}
      %a.lh-25.text-18.color-white.pd-h-10{:href => "#", :voh => "0.5"}
        %i.fa.fa-instagram{"aria-hidden" => "true"}
      %a.lh-25.text-18.color-white.pd-h-10{:href => "#", :voh => "0.5"}
        %i.fa.fa-pinterest-p{"aria-hidden" => "true"}
    .footer-menu
      %a.lh-25.text-14.color-white.pd-h-12{:hov => "0.7", :href => "about.html"} 關於我們
      %a.lh-25.text-14.color-white.pd-h-12{:hov => "0.7", :href => "product.html"} 產品
      %a.lh-25.text-14.color-white.pd-h-12{:hov => "0.7", :href => "blog.html"} 部落格
      %a.lh-25.text-14.color-white.pd-h-12{:hov => "0.7", :href => "contact.html"} 聯絡我們
  / rwd width limited
.bg-yb.pd-v-30
  / rwd width limited
  .rwd-width-limited.clearfix
    %p.copyright.text-12.color-white.lh-20.color-gray-666 Copyright © HANCHOR All Rights Reserved
    %a.mailto.text-13.color-white.lh-20.color-white{:href => "mailto:info@hanchor.com", :voh => "0.5"}
      %i.fa.fa-envelope-o.mg-r-10{"aria-hidden" => "true"}>
      info@hanchor.com