.login-signup-container
  .login-signup
    %ul.layer-1-ul
      %li.layer-1-li
        %a.layer-1{:href => "login.html"}
          %h2 登入
      %li.layer-1-li
        %a.layer-1{:href => "signup.html"}
          %h2 註冊
      %li.layer-1-li
        %a.layer-1.scart{:href => "shoppingcart.html"}
          =image_tag("ico-scart")
          %h2 5